.box {
  background-color: white;
  margin-top: 12%;
  padding: 30px;
  border-radius: 20px;
  min-height: 480px;
  align-content: center;
}

.btn1 {
  background-color: #002642;
  color: white;
  border: none;
  font-weight: bold;
}

.btn1:hover {
  border: 1px solid #002642;
}

@media only screen and (max-width: 600px) {
  .box {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  .box {
    width: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .box {
    width: 28%;
  }
}
